*{
    margin: 0;
    padding: 0;
}




.container{
    color: black;
    position: absolute;
    top: 30%;
    left: 43%;
}

.container h1{
    width: 50%;
    display: inline;
    border-bottom: 4px solid var(--main-bg-color);
    font-size: 40px;
    margin-bottom: 15px;
    padding: 13px 0;
}

.subox{
    width: 100%;
    border-bottom: 2px solid var(--main-bg-color);
    margin: 32px 0px;
}

.subox input{
    background: none;
    width: 75%;
    padding: 5px 55px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    text-align: center; 
}

.subox i{
    width: 25px;
    text-align: center;
}

.sbtn{
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    border-radius: 7px;
    padding: 10px 21px;
    border: 2px solid var(--main-bg-color);
    font-size: 18px;
    background: none;
    color: black;
    font-weight: bold;
}

.sbtn:hover{
    background-color: var(--main-bg-color);
    color: white;
    transition: 0.5s;
}

.footer{
    margin-top: 600px;

}